<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ app.getName() }}</title>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

	<!--Import materialize.css-->
	{% use "base/adminstylesheets.twig" %}
	{% block stylesheets %}
		{{ parent() }}
	{% endblock stylesheets %}

</head>
<body>
	<header>
		{% block nav %}
		<div class="navbar-fixed">
			<nav class="cyan">
				<div class="nav-wrapper">
					
					<ul class="left">
						<li>
							<h1 class="logo-wrapper">
								<a href="{{ urlFor('admin_dashboard') }}" class="brand-logo darken-1">AMA
									<span class="logo-text">AMA</span>
								</a>
							</h1>
						</li>
					</ul>
					<div class="header-search-wrapper hide-on-med-and-down">
						<i class="mdi-action-search active"></i>
						<input name="Search" class="header-search-input z-depth-2" placeholder="Busqueda" type="text">
					</div>
					<ul class="right hide-on-med-and-down">
						<li><a href="javascript:void(0);" class="waves-effect waves-block waves-light"><i class="mdi-navigation-apps"></i></a>
						</li>
						<li><a href="javascript:void(0);" class="waves-effect waves-block waves-light"><i class="mdi-social-notifications"></i></a>
						</li>
						<li><a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i class="mdi-communication-chat"></i></a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		{% endblock nav %}

	</header>

	<div id="main">

		<!-- Sidebar -->
		{% block sidebar %}
			<aside id="left-sidebar-nav">
				<ul style="width: 240px;" id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y">
					<li class="user-details cyan darken-2">
						<div class="row">
							<div class="col col s4 m4 l4">
								{{ img('avatar.jpg', {'class':'circle responsive-img valign profile-image'}) }}
							</div>
							<div class="col col s8 m8 l8">
								<a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">John Doe<i class="mdi-navigation-arrow-drop-down right"></i></a>
								<ul id="profile-dropdown" class="dropdown-content">
									<li>
										<a href="{{ urlFor('admin_profile') }}">
											<i class="mdi-action-face-unlock"></i>Profile
										</a>
									</li>
									<li>
										<a href="{{ urlFor('admin_settings') }}">
											<i class="mdi-action-settings"></i> Settings
										</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="{{ urlFor('logout') }}"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
									</li>
								</ul>
								<p class="user-roal">Administrator</p>
							</div>
						</div>
					</li>
					<li class="bold"><a href="{{ urlFor('admin_dashboard') }}" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
					</li>
					<li class="bold"><a href="{{ urlFor('admin_all_users') }}" class="waves-effect waves-cyan"><i class="large material-icons">recent_actors</i> Users</a>
					</li>
					<li class="bold"><a href="app-calendar.html" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Calender</a>
					</li>
					<li class="li-hover"><div class="divider"></div></li>
					<li class="li-hover"><p class="ultra-small margin more-text">MORE</p></li>
					<li><a href="css-grid.html"><i class="mdi-image-grid-on"></i> Grid</a>
					</li>
					<li><a href="css-color.html"><i class="mdi-editor-format-color-fill"></i> Color</a>
					</li>
					<li><a href="css-helpers.html"><i class="mdi-communication-live-help"></i> Helpers</a>
					</li>
					<li><a href="changelogs.html"><i class="mdi-action-swap-vert-circle"></i> Changelogs</a>
					</li>                    
					<li class="li-hover"><div class="divider"></div></li>

					<!-- Custom scrollbar -->
					<div style="left: 0px; bottom: 3px;" class="ps-scrollbar-x-rail"><div style="left: 0px; width: 0px;" class="ps-scrollbar-x"></div></div><div style="top: 0px; height: 667px; right: 3px;" class="ps-scrollbar-y-rail"><div style="top: 0px; height: 401px;" class="ps-scrollbar-y"></div></div>
				</ul>
				<a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
			</aside>
		{% endblock sidebar %}

		<!-- Content -->
		{% block content %}
		{% endblock content %}

	{% block endmain %}
	</div>
	{% endblock endmain %}

	<!-- jQuery && Materialize JavaScript -->
	{% use "base/javascripts.twig" %}
	{% block javascripts %}
		{{ parent() }}
	{% endblock javascripts %}

	<script>
		$(document).ready(function(){ 
			$(".sidebar-collapse").sideNav();
		});
	</script>
</body>
</html>
